{% load static %}
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img src="{% static 'images/user3-128x128.jpg'%}" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{request.user}}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="搜索...">
            <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">菜单选项</li>
      <li class="treeview {% if '/index' == request.path %} active {%endif%}">
        <a href="#">
          <i class="fa fa-dashboard"></i> <span>仪表盘</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="{% if '/index' == request.path %} active {%endif%}"><a href="{% url 'index' %}"><i class="fa fa-stethoscope"></i>仪表盘</a></li>
        </ul>
      </li>
      <li class="treeview {% if '/department1' == request.path %} active {%endif%}">
          <a href="#">
              <i class="fa fa-th"></i> <span>事业部1</span>
          </a>
          <ul class="treeview-menu">
              <li class="{%if '/department1' == request.path %} active {%endif%}"><a href="/department1"><i class="fa fa-group"></i>数据库列表</a></li>
          </ul>
      </li>
      <li class="treeview {% if '/serverlist' == request.path or '/addserver' == request.path %} active {%endif%}">
          <a href="#">
              <i class="fa fa-th"></i> <span>事业部2</span>
          </a>
          <ul class="treeview-menu">
              <li class="{%if '/serverlist' == request.path %} active {%endif%}"><a href="/index"><i class="fa fa-group"></i>数据库列表</a></li>
          </ul>
      </li>
      <li class="treeview {% if '/serverlist' == request.path or '/addserver' == request.path %} active {%endif%}">
          <a href="#">
              <i class="fa fa-th"></i> <span>事业部3</span>
          </a>
          <ul class="treeview-menu">
              <li class="{%if '/serverlist' == request.path %} active {%endif%}"><a href="/index"><i class="fa fa-group"></i>数据库列表</a></li>
          </ul>
      </li>
      <li class="treeview {% if '/serverlist' == request.path or '/addserver' == request.path %} active {%endif%}">
          <a href="#">
              <i class="fa fa-th"></i> <span>事业部4</span>
          </a>
          <ul class="treeview-menu">
              <li class="{%if '/serverlist' == request.path %} active {%endif%}"><a href="/index"><i class="fa fa-group"></i>数据库列表</a></li>
          </ul>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
